body{
    margin: 0;
    
    font-family: 'Inter', sans-serif;
    
    font-family: 'Open Sans', sans-serif;

    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 0%, rgba(227, 255, 248, 0.38) 100%);

    min-height: 100vh;
}

.page{
    
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ul{
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #1F1534;
    opacity: 0.5;
}

ul li a:hover{
    font-weight: bold;
    color: #1F1534;
    opacity: 1;
}

h1, ul{
    font-family: 'Mulish', sans-serif;
}

h1{
    font-size: 49px;
    line-height: 56px;
    color: #000;
    font-weight: 400;
}

h1 span{
    color: #89C5CC;
    font-weight: bold;
}

.text{
    width: 489px;
}

p{
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    width: 438px;
    margin-top: 40px;
    margin-bottom: 40px;
}

button{
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;

    background: #69B99D;
    border: 0;
    padding: 14px 32px 15px;
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 4px;

    cursor: pointer;
}

button:hover{
    background: #4dbb94 ;
}

footer{
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

footer a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

#balls{
    position: fixed;
    right: 0;
    bottom: 0;
}